name: CI Test/Validation
on:
  pull_request:
    branches:
      - main

jobs:
  #check reviewers status
  reviewers-added:
    runs-on: ubuntu-latest
      
    steps:
      - name: Reviews Counter
        uses: jrylan/github-action-reviews-counter@v1.0.0
        if: 'steps.reviews.outputs.approved < 1 && steps.reviews.outputs.changes_requested != 0'
        with:
          script: |
              core.setFailed('There are no reviews for this request.')
